header:first-child {
  border-radius: 0;
}

header {
  background-color: #48bbf0;
  a, i {
    color: #f5f5f5;
  }

  button {
    color: #f5f5f5;
    border-color: #f5f5f5;

    span {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28245, 245, 245, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
  }

  a:hover {
    color: #ffffff;
  }

  i:hover {
    transform: scale(1.1);
    color: #ffffff;
  }
}

.link {
  cursor: pointer;
}
