.item {
  display: inline-block;
  border: 1px solid #3d88b6;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  width: 100%;
  text-align: center;
  background-color: #48bbf0;
  outline: none;
  color: #ffffff;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  cursor: pointer;
  min-height: 130px;

  .textbox {
    display: block;
    border-radius: 10px;
    border: 1px solid #3d88b6;
    background-color: #bef1ff;
    color: #7b7b7b;
    padding: 10px;
    text-align: left;
    min-height: 200px;
    max-height: 200px;
    white-space: pre-line;

    span {
      overflow : hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
    }
  }

  .info {
    font-size: 14px;
    margin-top: 10px;

    i {
      font-size: 24px;
    }
  }

  &:hover {
    transform: translate(-3px, -3px);
    box-shadow: 8px 8px 5px rgba(0,0,0,0.6);
    background-color: #48c5fa;
  }

  &:active {
    transform: translate(0px, 0px);
    background-color: #48b1e6;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  }
}

.create-item {
  border: 4px dashed #48ace1;
  padding: 16px;

  h6 {
    margin-top: 10px;
  }
}

.delete-item {
  background-color: #dd403e;
  border: 4px dashed #ca2825;
  padding: 16px;

  h6 {
    margin-top: 10px;
  }

  &:hover {
    transform: translate(-3px, -3px);
    box-shadow: 8px 8px 5px rgba(0,0,0,0.6);
    background-color: #f6413f;
  }

  &:active {
    transform: translate(0px, 0px);
    background-color: #b73e3c;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
  }
}

select {
  position: relative;
  padding: 2px 10px;
  outline: none;
  border: 1px solid grey;
  margin: 10px 0;
}
